<html>
    <head>
        <title>About Us</title>

        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>cla</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" href="/static/style.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="/static/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="images/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="/static/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
           
    <body class="main-layout inner_posituong computer_page">
              
        {% include 'header.html' %}

        <div class="about-container">
            
            <div class="about-Img-1">
                <img src="/media/images/laptop2.png" />
            </div>

            <p class="about-title-1">Computer Shop</p>

            <div class="about-contant-1">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of It is a long established fact that a reader will be distracted by the
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

            <div class="about-Img-2">
                <img width="400" height="500" src="/media/images/wireless-keybord-and-mouse.png" />    
            </div>

            <p class="about-title-1">Computer Shop</p>

            <div class="about-contant-2">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of It is a long established fact that a reader will be distracted by the
            </div>

        </div>

        <br />
        {% include 'footer.html' %}

        <!-- Javascript files-->
        <script src="/static/jquery.min.js"></script>
        <script src="/static/popper.min.js"></script>
        <script src="/static/bootstrap.bundle.min.js"></script>
        <script src="/static/jquery-3.0.0.min.js"></script>
        <!-- sidebar -->
        <script src="/static/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/static/custom.js"></script>

    </body>
</html> 