<html>

    <head>
        <title>Checkout</title>
        <link rel="stylesheet" href="/static/main.css" />
        <script src="/static/scripting.js"></script>
    </head>

    <body>

        {% include 'header.html' %}

        <div class="checkout-container">

            <div class="checkout-img">
                <img src="/media/images/checkout.jpg">
            </div>

            {% for i in address %}

            <div class="address-container">

                <div class="radio-btn"><input type="radio" name="userAddress" id="userAddress" onclick="hideTable()" /></div>
                <div class="address-show">
                <div><span>{{i.0}}</span>&nbsp;<span>{{i.1}}</span></div>
                <span>{{i.2}}</span>,&nbsp;<span>{{i.3}}</span>,&nbsp;<span>{{i.4}}</span>,&nbsp;<span>{{i.5}}</span>,&nbsp;<span>{{i.6}}</span>,&nbsp;<span>{{i.7}}</span>&nbsp;<span>{{i.8}}</span>&nbsp;<span>{{i.9}}</span>
                </div>
            </div>
            {% endfor %}

            <div class="address-container">
                <div class="radio-btn"><input type="radio" name="userAddress" id="userAddress" onclick="showTable();" {% if address == '' %} checked="checked" {% endif %} /></div>
                <div class="address-show">
                    <span><label>Add New Address</label></span>
                </div>
            </div>
            
            <div class="image-table-box">
            
                <div id="Show" class="checkout-details address-table-hide">

                    <div><b>Address Details</b></div>
                    <hr />
                    <form method="post"> {% csrf_token %}
                        <table class="details-table">

                            <tr>
                                <td class="label-color">First Name</td>
                                <td class="checkout-label label-color">Last Name</td>
                            </tr>
                            <tr>
                                <td><input type="text" class="checkout-inputs" id="first" name="first" placeholder="Enter first name" required /></td>
                                <td><input type="text" class="checkout-inputs float-right" id="last" name="last" placeholder="Enter last name" required /></td>
                            </tr>
                            <tr>
                                <td class="label-color">Email</td>
                                <td class="label-color">Phone</td>
                            </tr>
                            <tr>
                                <td><input type="email" class="checkout-inputs" id="email" name="email" placeholder="Enter Email" required /></td>
                                <td><input type="number" class="checkout-inputs float-right" id="phone" name="phone" placeholder="Enter Phone" required /></td>
                            </tr>
                            <tr>
                                <td class="label-color">Address 1</td>
                                <td class="label-color">Address 2</td>
                            </tr>
                            <tr>
                                <td><input type="text" class="checkout-inputs" id="address1" name="address1" placeholder="Enter Address1" required /></td>
                                <td><input type="text" class="checkout-inputs float-right" id="address2" name="address2" placeholder="Enter Address2" required /></td>
                            </tr>
                            <tr>
                                <td class="label-color">City</td>
                                <td class="label-color">State</td>
                            </tr>
                            <tr>
                                <td><input type="text" class="checkout-inputs" id="city" name="city" placeholder="Enter City" required /></td>
                                <td><input type="text" class="checkout-inputs float-right" id="state" name="state" placeholder="Enter State" required /></td>
                            </tr>
                            <tr>
                                <td class="label-color">Country</td>
                                <td class="label-color">Pin Code</td>
                            </tr>
                            <tr>
                                <td><input type="text" class="checkout-inputs" id="country" name="country" placeholder="Enter Country" required /></td>
                                <td><input type="number" class="checkout-inputs float-right" id="pin" name="pin" placeholder="Enter Pin code" required /></td>
                            </tr>
                                
                        </table>

                        <br />

                        <input type="submit" value="Submit" class="address-btn submitBtn" />

                    </form>

                </div>
            </div>
            {% csrf_token %}
            <input type="hidden" value="abc" class="product_id" />

            {% if address %}

            <div class="payment-btn-container">
                <label class="pay-text"><b>Total To Pay : {{totalPay}}</b></label>
                <br />
                <a href="{{ request.get_full_path }}">Reload</a>

                <button id="rzp-button1"  class="payment-btn">Pay</button>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <script>
                var options = {
                    "key": "{{api_key}}", // Enter the Key ID generated from the Dashboard
                    "name": "Computer Shop",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){

                        alert('Payment Success');


                        var token = $('input[name=csrfmiddlewaretoken]').val();
                        $.ajax({

                            method: "POST",
                            data: {
                                'payment': 'success',
                                csrfmiddlewaretoken: token
                                
                            },
                            dataType: "dataType"
                
                        }); 

                        /*alert(response.razorpay_payment_id);
                        alert(response.razorpay_order_id);
                        alert(response.razorpay_signature)*/
                    },
                    "prefill": {
                        "name": "{{user_name}}",
                        "email": "{{email}}",
                        "contact": "{{mobile}}"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response){

                    alert('Payment Fail, Please Try again');

                        /*alert(response.error.code);
                        alert(response.error.description);
                        alert(response.error.source);
                        alert(response.error.step);
                        alert(response.error.reason);
                        alert(response.error.metadata.order_id);
                        alert(response.error.metadata.payment_id);*/
                });
                document.getElementById('rzp-button1').onclick = function(e){
                    rzp1.open();
                    e.preventDefault();
                }
                </script>
            </div>

            {% else %}
            <div class="payment-btn-container"><b>Please Select Address</b></div>
            {% endif %}


        </div>

        {% include 'footer.html' %}

    </body>

</html>

<script type="text/javascript">

    function showTable(){

        document.getElementById('Show').style.display = "block";
    
    }

    function hideTable(){

        document.getElementById('Show').style.display = "none";

    }

</script>