
<footer>
    <div class="footer-container">
        <div class="footer-box">
            <ul>
                <div class="footer-title">Information</div>
                <li class="footer-content"><a href="{% url 'Index' %}">Home</a></li>
                <li class="footer-content"><a href="{% url 'About' %}">About</a></li>
                <li class="footer-content"><a href="{% url 'Product' %}">Products</a></li>
                <li class="footer-content"><a href="{% url 'Contact' %}">Contact Us</a></li>
                <li class="footer-content"><a href="{% url 'MyCart' %}">Cart</a></li>
                <li class="footer-content"><a href="{% url 'Login' %}">Login</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <ul>
                <div class="footer-title">Products</div>
                <li class="footer-content"><a href="#">Monitors</a></li>
                <li class="footer-content"><a href="#">Hard Drives</a></li>
                <li class="footer-content"><a href="#">Keyboards / Mice</a></li>
                <li class="footer-content"><a href="#">CPUs</a></li>
                <li class="footer-content"><a href="#">Rams</a></li>
                <li class="footer-content"><a href="#">Accessories</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <ul>
                <div class="footer-title">Follow Us</div>
                <li class="footer-content"><img src="/media/images/facebook_logo.png" class="footer-img" /><a href="#">Facebook</a></li>
                <li class="footer-content"><img src="/media/images/twitter_logo.png" class="footer-img" /><a href="#">Twitter</a></li>
                <li class="footer-content"><img src="/media/images/linkedin_logo.png" class="footer-img" /><a href="#">Linkdin</a></li>
                <li class="footer-content"><img src="/media/images/instagram_logo.png" class="footer-img" /><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="footer-box">
            <ul>
                <div class="footer-title">Contact Us</div>
                <li class="footer-content">Ahmedabad</li>
                <li class="footer-content"> <img src="/media/images/whatsapp_icon.png" /> +91 1234567890</li>
            </ul>
        </div>
    </div>
    <div class="line">
        <hr />
    </div>
    <div class="copyrights">
        © 2019 All Rights Reserved. Design by Free Html Templates
    </div>
</footer>
