<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body class="themeColor centerForms">

        <div class="formContainer loginContainer" align=center>

            <div class="mainImage centerForms">
                <img src="/media/images/forgot-password.jpg" />
            </div>
            <div class="mainForms centerForms">
                <form method="post"> {% csrf_token %}
                    
                    <div class="formTitle">Forgot password</div>
                    <br />
                    <br />
                    <div class="formText">Enter your details below</div>
                    <br />
                    
                    <input type="email" class="Inputs emailInput" id="email" name="email" placeholder="Enter email" required />
                    <br />
                    <br />
                    <button type="submit" class="submitBtn">Submit</button>
                    <br />
                    <br />
                    <div>
                        <a href="{% url 'Login' %}" class="actionLink">Back to sign in</a>
                    </div>
                    <br />
                    <br />
                    {% if message != '' %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                    {% endif %} 
                </form>
            </div>
        </div>

    </body>
</html>