<html>
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>cla</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/main.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="/static/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="images/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="/static/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
     </head>
     <!-- body -->
     <body class="main-layout inner_posituong computer_page">

      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="/media/images/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item ">
                                 <a class="nav-link {% if navbar == 'page1' %} active {% endif %}" href="{% url 'Index' %}">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link {% if navbar == 'page2' %} active {% endif %}" href="{% url 'About' %}">About</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link {% if navbar == 'page3' %} active {% endif %}" href="{% url 'Product' %}">Products</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link {% if navbar == 'page4' %} active {% endif %}" href="{% url 'Contact' %}">Contact Us</a>
                              </li> 
                              {% if users != '' %}
                              <li class="nav-item d_none">
                                 <a class="nav-link {% if navbar == 'page5' %} active {% endif %}" href="{% url 'MyCart' %}">My Cart</a>
                              </li>
                              {% else %}
                              <li class="nav-item d_none">
                                 <a class="nav-link" href="{% url 'Login' %}">My Cart</a>
                              </li>
                              {% endif %}
                              {% if users != '' %}
                              <li class="nav-item d_none">
                                 <a class="nav-link {% if navbar == 'page6' %} active {% endif %}" href="{% url 'MyWish' %}">My Wish</a>
                              </li>
                              {% else %}
                              <li class="nav-item d_none">
                                 <a class="nav-link" href="{% url 'Login' %}">My Wish</a>
                              </li>
                              {% endif %}
                              {% if users == '' %}
                              <li class="nav-item d_none">
                                 <a class="nav-link" href="{% url 'Login' %}">Login</a>
                              </li>
                              {% else %}
                              <li class="nav-item d_none">
                                 <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
                              </li>
                              {% endif %}
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>


     <!-- end footer -->
     <!-- Javascript files-->
     <script src="/static/jquery.min.js"></script>
     <script src="/static/popper.min.js"></script>
     <script src="/static/bootstrap.bundle.min.js"></script>
     <script src="/static/jquery-3.0.0.min.js"></script>
     <!-- sidebar -->
     <script src="/static/jquery.mCustomScrollbar.concat.min.js"></script>
     <script src="/static/custom.js"></script>

    </body>

</html>