<html>
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>Computer Shop</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- bootstrap css -->
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <!-- style css -->
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/main.css">
        <!-- Responsive-->
        <link rel="stylesheet" href="/static/responsive.css">
        <!-- fevicon -->
        <link rel="icon" href="images/fevicon.png" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="/static/jquery.mCustomScrollbar.min.css">
        <!-- Tweaks for older IEs-->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
     </head>
    <body>
        {% include "header.html" %}
        
        <!-- banner -->
        <section class="banner_main">
            <div id="banner1" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#banner1" data-slide-to="0" class="active"></li>
                  <li data-target="#banner1" data-slide-to="1"></li>
                  <li data-target="#banner1" data-slide-to="2"></li>
                  <li data-target="#banner1" data-slide-to="3"></li>
                  <li data-target="#banner1" data-slide-to="4"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="text-bg">
                                    <span>Computer And Laptop</span>
                                    <h1>Accessories</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                    <a href="#">Buy Now </a> 
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="text_img">
                                    <figure><img src="/media/images/pct.png" alt="#"/></figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="text-bg">
                                    <span>Computer And Laptop</span>
                                    <h1>Accessories</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                    <a href="#">Buy Now </a> 
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="text_img">
                                    <figure><img src="/media/images/pct.png" alt="#"/></figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="text-bg">
                                    <span>Computer And Laptop</span>
                                    <h1>Accessories</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                    <a href="#">Buy Now </a>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="text_img">
                                    <figure><img src="media/images/pct.png" alt="#"/></figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="text-bg">
                                    <span>Computer And Laptop</span>
                                    <h1>Accessories</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                    <a href="#">Buy Now </a>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="text_img">
                                    <figure><img src="/media/images/pct.png" alt="#"/></figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="carousel-caption">
                           <div class="row">
                              <div class="col-md-6">
                                 <div class="text-bg">
                                    <span>Computer And Laptop</span>
                                    <h1>Accessories</h1>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                    <a href="#">Buy Now </a>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="text_img">
                                    <figure><img src="/media/images/pct.png" alt="#"/></figure>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
               <i class="fa fa-chevron-left" aria-hidden="true"></i>
               </a>
               <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
               <i class="fa fa-chevron-right" aria-hidden="true"></i>
               </a>
            </div>
         </section>
         <!-- end banner -->
       <!-- three_box -->
       <div class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="/media/images/thr.png" alt="#"/></i>
                     <h3>Computer</h3>
                     <p>Computer technology can construct and manage e-commerce website, make and sell virtual goods and services to increase buyer and seller's interactive efficiency. </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="/media/images/thr1.png" alt="#"/></i>
                     <h3>Laptop</h3>
                     <p>Computer technology can construct and manage e-commerce website, make and sell virtual goods and services to increase buyer and seller's interactive efficiency. </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="/media/images/thr2.png" alt="#"/></i>
                     <h3>Tablet</h3>
                     <p>Tablet commerce occurs when users shop online with an iPad or other tablet. It is widely expected to grow in future years as users take advantage of features specific to this class of device, such as larger screens and better touchscreen interfaces. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <br />
      <br />
      
      <div class="Product-title"><b>Products</b></div>

      <br />

      <div class="page-container">
         <div class="cart-container">

            {% for i in product %}

               {% if forloop.counter <= 10 %}

               <div class="cart product_data">
                  <div id="{{i.0}}" class="like-btn" onclick="clickNew({{forloop.counter}})">
                      {% if users != '' %}
                          {% if i.0 in wishlist_product %}
                          <img width="30" height="30" src="/media/images/love.png" id="image{{forloop.counter}}" class="like-btn wishlist-btn" />
                          {% else %}
                          <img width="30" height="30" src="/media/images/heart.png" id="image{{forloop.counter}}" class="like-btn wishlist-btn" />
                          {% endif %}
                      {% else %}
                      <img width="30" height="30" src="/media/images/heart.png" class="like-btn" onclick="location.href='/login'" />
                      {% endif %}
                  </div>
                  
                  <a href="../details/{{i.0}}">
                  <div class="cartImage">
                      <img src="/media/images/{{i.4}}" />   
                  </div>
              <div class="cartTitle">
                  {% comment %} <b> {{forloop.counter}} {{i.1}} </b> {% endcomment %}
                  <b>{{i.1|truncatechars:22}} </b>
              </div>
              <p class="cart-description">
                  
                  {{i.2|truncatechars:30}}
                      
              </p></a>
              <br />
              
              {% csrf_token %}

                    {% if users != '' %}
                    <input type="submit" class="cart-price" onclick="addToCart();" value="₹ {{i.3}}">
                    {% else %}
                    <input type="submit" class="cart-price" onclick="location.href='/login'" value="₹ {{i.3}}">
                    {% endif %}

                    &nbsp;&nbsp;&nbsp;

                    <input type="hidden" value="{{i.0}}" class="product_id" />
                    {% if users != '' %}
                    <button type="submit" id="hoverme" class="view-cart addToCartBtn"> Add To.. 
                        <img src="/media/images/add-to-cart.png" class="add-to-img" />
                    </button>
                    {% else %}
                    <button type="submit" id="hoverme" class="view-cart" onclick="location.href='/login'" > Add To.. 
                        <img src="/media/images/add-to-cart.png" class="add-to-img" />
                    </button>
                    {% endif %}
               </div>
               
               {% endif %}
            {% endfor %}
         </div>
      </div>
      <br />
      <br />
      <div class="see-more-conatiner">
         <input type="button" class="see-more-btn" onclick="location.href='product/'" value="See More" />
      </div>
      <br />
      <br />
      <br />

        {% include "footer.html" %}
    </body>
</html>


<script type="text/javascript">
   var likes = 1;

   function clickNew(id) {
       var image = document.getElementById('image'+id);
   
       if (image.src.match("/media/images/love")) {
           image.src = "/media/images/heart.png";
           likes = 1;
           alert(like);
       }
       else {
           image.src = "/media/images/love.png";
           likes = 0;
           alert(like);
       }
   }
   

   $('.addToCartBtn').click(function (e) {
       e.preventDefault();

       var product_id = $(this).closest('.product_data').find('.product_id').val();

       var token = $('input[name=csrfmiddlewaretoken]').val();

       /*$('button.view-cart').text(product_id); */

       $.ajax({

           method: "POST",
           /*url: "product",*/
           data: {
               'product_id': product_id,
               csrfmiddlewaretoken: token,
               'addCart': 'cart'
           },
           dataType: "dataType"
           /*success: function (response){

           }*/

       }); 

   });

   $('.wishlist-btn').click(function (e) {
       e.preventDefault();

       var product_id = $(this).closest('.product_data').find('.product_id').val();

       var token = $('input[name=csrfmiddlewaretoken]').val();

       /*$('button.view-cart').text(product_id); */

       $.ajax({

           method: "POST",
           data: {
               'product_id': product_id,
               'like': likes,
               csrfmiddlewaretoken: token,
               'addWish': 'wishes'
               
           },
           dataType: "dataType"

       }); 

   });


   $('.search-btn').click(function (e) {
       e.preventDefault();

       var result = $(this).closest('.page-container').find('.search-box').val();

       var token = $('input[name=csrfmiddlewaretoken]').val();

       $.ajax({

           method: "POST",
           data: {
               'search': result,
               csrfmiddlewaretoken: token
               
           },
           dataType: "dataType"

       }); 

   });

   $('.category-button').click(function (e) {
       e.preventDefault();

       var result = $(this).closest('.category-div').find('.categorys').val();

       console.log(result);

       var token = $('input[name=csrfmiddlewaretoken]').val();

       $.ajax({

           method: "GET",
           data: {
               'category': result,
               csrfmiddlewaretoken: token
               
           },
           dataType: "dataType"
       }); 

   });


</script>